html {
  text-align: center;
  background-color: #EDEBD6;
}

img {
  width: 25%;
  padding: 30px;
}

h1 {
  color: #B8965A;
  border: 10px;
}

canvas {
  width: 75%;
  min-width: 400px;
}

.results-chart {
  display: none;
  font-size: 30px;
  color: black;
}
#image-one {
  border-color: #AAA8A1;
  border-width: 10px;
}

#image-two {
  border-color: #293037;
  border-width: 10px
}

#image-three {
  border-color: #927B57;
  border-width: 10px;
}
